@font-face {
    text-rendering: optimizeLegibility;
}

h6.button-text {
    margin-top: 18px !important;
    padding: 0;
    font-weight: 400;
}

#topnav .navigation-menu > li > a.active {
    border-bottom: 3px solid red;
}

#topnav .navigation-menu > li > a:active {
    color: #468189 !important;
}

a {
    color: #ffffff;
}

/* Menüü */

li.has-submenu.active, li.has-submenu:hover, #topnav .navigation-menu > li > a i:hover{
    background-color: #eff3f6;
}

li.has-submenu.active a, li.has-submenu:hover a, #topnav .navigation-menu > li > a i:hover{
    color: #468189 !important;
}

li > i:hover {
    color: #468189 !important;
}

/* Avalehe nupud */

.mini-stat.clearfix.bg-white.border-pink {
    border-left: 4px solid #b4436c;
}

.text-pink {
    color: #b4436c !important;
}

.text-green {
    color: #4d9078 !important;
}

.text-blue {
    color: #468189 !important;
    margin-bottom: 0;
}

.mini-stat.clearfix.bg-white.border-green {
    border-left: 4px solid #4d9078 ;
}

.text-orange {
    color: #f78154 !important;
}

.mini-stat.clearfix.bg-white.border-orange {
    border-left: 4px solid #f78154 ;
}

.bg-add {
    background-color: #5fad56 !important;
}

.text-add {
    color: #5fad56 !important;
}

.text-center {
    text-align: center !important;
}

/* Modal */

.modal-footer {
    justify-content: center !important;
}

.modal-body {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding-bottom: 0 !important;
}

.modal-header .close {
    padding: 5px !important;
    padding-right: 10px !important;
    margin-left: 0 !important;
}

.modal-title, h5#exampleModalLongTitle {
    margin: 0 auto;
}

span.input-group-text {
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.custom-file-label {
    height: 36px !important;
    padding: .375rem .75rem;
    color: #6a7177;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-weight: 400;
}

.custom-file-label::after {
    height: 34px;
    color: #495057;
    content: "Vali";
    padding-left: 20px;
    padding-right: 20px;
}

.input#customFile:focus {
    border-color: #468189 !important;
    box-shadow: none !important;
}

.custom-file:focus {
    border-color: #468189 !important;
    box-shadow: none !important;
}

ul {
    list-style: none;
    padding-left: 0 !important;
}

li.competition {
    margin-bottom: 15px;
}

li.competitions {
    margin-bottom: 15px;
    display: flex;
}

.text-grey {
    color: #707070;
}

.text-grey:hover {
    color: #468189;
}

/* Multiselect */
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100% !important;

}

.btn-light {
    font-size: 15px !important;
    line-height: 1.5 !important;
    color: #000000 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

button.btn.dropdown-toggle.btn-light.bs-placeholder {
    color: #6c757d !important;
}

.show>.btn-light.dropdown-toggle, .btn-light:not(:disabled):not(.disabled).focus,
.btn-light:not(:disabled):not(.disabled):focus,
.show>.btn-light.dropdown-toggle  {
    border-color: #468189 !important;
    box-shadow: none !important;
    outline: 0 !important;
}


/* Sisse logimine */
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #f9f9f9 inset;
    transition: background-color 5000s ease-in-out 0s;
}


    /* Footer */
h4.page-title {
    color: #393939;
    font-family: "Work Sans", sans-serif;
}

.text-grey-dark {
    color: #393939;
    font-weight: 400;
}

.text-grey-dark:hover {
    color: #468189;
}

hr.margin {
    margin: 3px;
}

.text-grey-light {
    color: #707070;
    margin-bottom: 0;
}

/* Võistluste leht */

/* Style the Image Used to Trigger the Modal */
.myImg {
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(22, 22, 22); /* Fallback color */
    background-color: rgba(22, 22, 22, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-modal:hover,
.close-modal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modal-backdrop {
    z-index: 100000 !important;
}

.modal {
    z-index: 100001 !important;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.add {
    cursor: pointer;
}

/* Custom nupud */

.edit {
    width: 38px;

}

.btn-width {
    width: 100%;
    max-width: 10em;
}


button.swal2-confirm.btn.btn-add.swal2-styled {
    background-color: #1f9616 !important;
    border: 1px solid #1f9616 !important;
}

button.swal2-confirm.btn.btn-add.swal2-styled:hover {
    background-color: #1b8413 !important;
    border: 1px solid #1b8413 !important;
}

button.swal2-cancel.btn.btn-delete.m-l-10.swal2-styled:hover {
    border: 1px solid rgb(170, 170, 170);
}

.btn-change, .btn-delete, .btn-add {
    color: #ffffff;
}

.btn-change {
    background-color: #468189;
    border: 1px solid #468189;

}

.btn-change:active, .btn-change:focus {
    background-color: #468189;
    border: 1px solid #468189;
}

.btn-change:hover {
    background-color: #41787f;
    border: 1px solid #41787f;
}

.btn-change.focus, .btn-change:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-delete {
    background-color: #d61313;
    border: 1px solid #d61313;

}

.btn-delete:active, .btn-delete:focus {
    background-color: #d61313;
    border: 1px solid #d61313;
}

.btn-delete:hover {
    background-color: #c91212;
    border: 1px solid #c91212;
}

.btn-delete.focus, .btn-delete:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-add {
    background-color: #1f9616;
    border: 1px solid #1f9616;

}

.btn-add:active, .btn-add:focus {
    background-color: #1f9616;
    border: 1px solid #1f9616;
}

.btn-add:hover {
    background-color: #1b8413;
    border: 1px solid #1b8413;
    color: #ffffff;
}

.btn-add.focus, .btn-add:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Teine menüü */

.nav-tabs .nav-link {
    background: rgba(70, 129, 137, 0.1);
    margin-right: 2px;
    margin-left: 2px;
    color: #468189;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #468189;
}

a#nav-info-tab {
    margin-left: 0 !important;
}

/* Võistluste leht: info */

.text-black-strong {
    color: #292929;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.text-black-light {
    color: #292929;
    font-family: "Work Sans", sans-serif;
    font-size: 17px;
    font-weight: lighter;
}

/* Võistluste leht: osalejad */

.table > tbody > tr > td, .table > tfoot > tr > td, .table > thead > tr > td {
    padding: 5px 5px;
}

td.width {
    width: 2% !important;
    text-align: center;
}

td {
    vertical-align: middle !important;
}

.swal2-content {
    padding-bottom: 20px !important;
}

.dt-width {
    width:100%!important;
}

/* Tabelid */

table#datatable-buttons {
    border-top: none !important;
}

.thead-height {
    height: 20px;
}

th.sorting_disabled {
    padding: 4px;
}

table.subgroup-3 {
    width: 70% ;
}

table.subgroup-4 {
    width: 100% ;
}

table.subgroup-5 {
    width: 99% ;
}

td.bg-dark.dt-height {
    width: 20% ;
    height: 100px;
 }

td.bg-dark.dt-height-4 {
    width: 17% ;
    height: 100px;
}

td.bg-dark.dt-height-5 {
    width: 13% ;
    height: 100px;
}

th.text-center {
    vertical-align: middle;
    width: 3%;
}

.sub-3 {
    width: 4% !important;
}

.pull-left{float:left!important;}
.pull-right{float:right!important;}

.custom-select {
    height: 36px !important;
}